{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - ClassMillia</title>
        <link rel="stylesheet" href="{% static 'login.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />
    </head>

    <body>
        <!-- Background with Overlay -->
        <div class="hero">
            <div class="overlay"></div>

            <!-- Login Container -->
            <div class="login-container">
                <!-- Brand Logo -->
                <div class="logo">
                    <img
                        src="/static/icons/logo.svg"
                        alt="ClassMillia logo"
                        style="
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: block;
                        "
                    />
                </div>

                {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                <h1>ClassMillia</h1>
                <p>Take your attendance with ease...</p>

                <span class="divider"
                    >Sign in as a {% if request.session.login_process ==
                    "lecturer" %}Lecturer{% else %}Student{% endif %}
                </span>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-google">
                        <i class="fab fa-google"></i> Continue with Google
                    </button>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer>&copy; 2025 ClassMillia. All rights reserved.</footer>
    </body>
</html>
